/* img {
    z-index: -1;
    width: 100%;
    height: auto;
} */

.jumbotron {
    position: relative;
    top: 12px;
}

.form-group {
    text-align: center;
}

.form-control {
    text-align: center;
}