/* img {
    z-index: -1;
    width: 100%;
    height: auto;
} */

body {
    background-image: url(images/img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
}

.jumbotron {
    position: relative;
    top: 12px;
}

.form-group {
    text-align: center;
}